.playfair-font {
    font-family: 'Playfair Display', serif;
}

.footer-top {
    border-top-width: 8px !important;
}

.bg-img {
    background-image: url("https://cdn.pixabay.com/photo/2019/12/15/08/33/blue-4696575_1280.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}
